<ion-header>
  <ion-navbar>
    <ion-title *ngFor="let item of items">
      {{item.id + ". " + farmerName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <div *ngFor="let item of items">
  <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null" (click)="returnId(item)">
  </div>

  <h3 [hidden]="lastImage !== null">Add Media for {{farmerName}}</h3>

  <ion-toolbar color="primary">
    <ion-buttons  *ngFor="let item of items">
      <button ion-button icon-left full (click)="returnId(item); presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-content>